<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
    <title>Login</title>
</head>
<body>
<h1>Please Log In</h1>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>

<form th:action="@{/auth/login}" method="post">
    <label>
        <input type="text" name="username" placeholder="Username" value="zombil8731" required="required" />
    </label>
    <label>
        <input type="password" name="password" placeholder="Password" value="1234" required="required" />
    </label>
    <button type="submit">Log In</button>
</form>

</body>
</html>
