<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{common/defaultLayout}">
<head>
    <title>Title</title>
</head>
<body>
    <div layout:fragment="content">
        <div>
            <div class="row" sec:authorize="hasRole('USER')">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3>Only User can See This</h3>
                            <p>If you have the "ROLE_USER".
                                You will be able to see this section. User Section.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" sec:authorize="hasRole('ADMIN')">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3>Only User can See This</h3>
                            <p>If you have the "ROLE_USER".
                                You will be able to see this section. User Section.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${authenticated}">
            <h2>로그인 되었습니다.</h2>
        </div>
        <div th:text="${username}"></div>
        <div th:text="${authorities}"></div>

        <div id="tokenShow"></div>
        <div id="applicationUserShow"></div>
        <div id="userInformationShow"></div>
        home!!!
        <script>
            // document.querySelector('#tokenShow').innerHTML = sessionStorage.getItem("token")

            let userInfo = userInformationFromSessionStorage()
            document.querySelector("#userInformationShow").innerHTML = JSON.stringify(userInfo)


        </script>
    </div>
</body>
</html>