<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script th:inline="javascript">

        /*<![CDATA[*/
        const token = [[${token}]];
        /*]]>*/
        // if (token !== null) {
        //     location.href = "/auth/login";
        // }
        /*global axios*/
        axios["defaults"].headers["common"]['Authorization'] = 'Bearer ' + token;
        console.log(axios["defaults"].headers["common"]['Authorization'])

    </script>
</head>
<body id="body">
<!--서버의 응답 해더의 토큰을 화면에 표시-->
<h1 th:text="${token}"></h1>

<h1>Welcome to the Home Page</h1>
<a th:href="@{/auth/login}" th:headers="${token}">Login</a>
<!--<a th:href="@{/admin/test}" th:headers="Bearer+${token}">AdminOnlyWithHeader</a>-->
<!--<a th:href="@{/user/test}" th:headers="Bearer+${token}">UserOnlyWithHeader</a>-->
<a th:href="@{/auth/register}" th:headers="${token}">User Registration</a>
<button onclick="rolePage('user')">UserOnly</button>
<button onclick="rolePage('admin')">AdminOnly</button>
<script>
    function rolePage(role) {
        axios.get('/' + role + '/test')
            .then(function (response) {
                console.log(response);
            //     응답으로 받은 데이터를 화면에 출력
                document.getElementById("body").innerHTML = response.data;
            })
            .catch(function (error) {
                console.log(error);
            })
    }
</script>
</body>
</html>